.poster-block3{
    display: block;
    width: 100%;
    height: 481px;
    background: url(/images/image3.png);
    background-position:50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.middle-block2{
    justify-content: center;
    align-items: center;
    position: relative;
    
   top:30%;
}

.text-container2{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
   position: relative;
   
   top:40%;
}

.text-container h1{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 25px;
}


.classes-block{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
     
    
}

.classes-block h1{
    margin: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    
}


.combo-box{
    display: flex;
    flex-direction: column;
    width: 90%;
    


}

.combo-header{
    display: flex;
    flex-direction: row;
    background-color: #000;
    height: 80px;
   color: white;
}

.header-container{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 25px 30px;
   width: 100%;
   justify-content: space-between;
 
}




.header-container img{
    width: 24.5px;
    height: 10.5px;
    
    margin-top: 10px;
}

.combo-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 50px;
    font-size: 30px;
    border-bottom: 1px solid #9D9292;
    justify-content: space-between;
   
}

    .combo-item h3 {
        width: 300px;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }


/*.go-button{
    background-color: #000;
    border-radius: 25px;
    
    
}*/
.go-button {
        margin-top:-25px;
        padding: 35px;
        background-color: #000;
        border-radius: 25px;
        text-decoration: none;
        color: #fff;

}


.go-button2 {
   

    padding: 15px;
    background-color: #000;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
}