.poster-block2{
    display: block;
    width: 100%;
    height: 481px;
    background: url(/images/image2.png);
    background-position:50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.middle-block2{
    justify-content: center;
    align-items: center;
    position: relative;
    
   top:30%;
}

.text-container2{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
   position: relative;
   
   top:30%;
}


.wel-text{
    text-align: center;
    width: 225px;
 margin-bottom: 35px;
 font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.text-container h1{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 25px;
}


.coaches-block{
    text-align: center;
    display: flex;
    flex-direction: column;


}

.coaches-block h1{
    margin: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    
}




.coahes-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit,minmax(31.8vw,1fr));
}

.coach{
    margin: 10px;
     /* width: calc(100vw - (100vw * 0.146rem));  */
    width: 31.8vw;
}

.coach img{
    width: inherit;
}