.poster-block{
    width: 100%;
    height: 870px;
    background: url(/images/image1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   
}

.middle-block{
    justify-content: center;
    align-items: center;
    padding-top:15%;
    

}

.text-container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
    left: 35%;
   top:30%;
}

.wel-text{
    text-align: center;
    width: 225px;
 margin-bottom: 35px;
 font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.text-container h1{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 25px;
}

.bottom-text{
    width: 455px;
    text-align: center;
    font-weight: 300;
font-size: 20px;
line-height: 20px;
}

.buttons-block{
    justify-content: space-evenly;
    display: flex;
}

