@model GymClient.Models.RegisterModel
@{
 //   string textIs =Convert.ToString(ViewBag.IsEmail);
}

<div class="register-container">

    <div class="register-text">
        <p class="blue-top">Lörem ipsum giligt kokobel</p>
        <h1>Lörem ipsum klickokrati hypon, nilirat i hubel.</h1>
        <p class="under-text">
            Lörem ipsum savis sovis mipredår, sorat, men osa.Jakrovis kawaii neskap inte sopor ninde. Sust bel polys. Reasam beryd för mir mäd.Vossa dora, kontranåfur.
        </p>
    </div>


    <div class="register-block">
        <h2>Your Information</h2>

        @using (Html.BeginForm("GoNew", "Register", FormMethod.Post))
        {
         
            <label style="padding-bottom:5px;" for="Name">Name</label>
            <div class="row-block">

                <div class="input-block">
                   
                    <input asp-for="Name" type="text">
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <label asp-validation-for="Name" class="under-name" for="First">First</label>
                </div>


                <div class="input-block">
                    <input asp-for="LastName" type="text" >
                    <span asp-validation-for="LastName" class="text-danger"></span>
                    <label class="under-name" for="Last">Last</label>
                </div>

            </div>


            <div class="row-block">
                <div class="input-block">
                    <label  style="padding-bottom:5px;" for="BirthDay">BirthDay</label>
                    <input asp-for="BirthDay" type="date" >
                    <span asp-validation-for="BirthDay" class="text-danger"></span>
               
                </div>


                <div class="input-block">
                    <label style="padding-bottom:10px;" for="Gender">Gender</label>
                    <div class="row-block">
                        <input  asp-for="Gender" id="hiddenGen" type="text" hidden >
                      
                        <input class="radiobut" value="Men" type="radio"><label class="label-radio" for="">Men</label>

                        <input  class="radiobut" value="Women" type="radio"><label class="label-radio" for="">Women</label>
                        <input class="radiobut" value="Other" type="radio"><label class="label-radio" for="">Other</label>

                    </div>
                 

                </div>
            </div>

            <div class="row-block">


                <div class="input-block">
                    <label  style="padding-bottom:5px;" for="Email">Email</label>
                    <input asp-for="Email" type="text">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>


                <div class="input-block">
                    <label style="padding-bottom:5px;" for="Password">Password</label>
                    <input asp-for="Password" type="text">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>



            </div>



            <label  style="padding-bottom:5px;" for="Phone"> Phone</label>


                <input asp-for="Phone" type="text">
            <span asp-validation-for="Phone" class="text-danger"></span>


            <input value="Submit" type="submit">


     }

   



    </div>

</div>





<script>
    let hiddenGender = document.getElementById("hiddenGen");
    let radio = document.querySelectorAll("input[type=radio]");

    



    radio.forEach(element => {
        element.addEventListener('click', (event) => {
            clearRadio();
            element.checked = true;


            hiddenGender.value = element.value;
        })
    })



    function clearRadio() {
        radio.forEach(element => {
            element.checked = false;
        });
    }



</script>