@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="register-container">

    <div class="register-text">
        <p class="blue-top">Lörem ipsum giligt kokobel</p>
        <h1>Lörem ipsum klickokrati hypon, nilirat i hubel.</h1>
        <p class="under-text">
            Lörem ipsum savis sovis mipredår, sorat, men osa.Jakrovis kawaii neskap inte sopor ninde. Sust bel polys. Reasam beryd för mir mäd.Vossa dora, kontranåfur.
        </p>
    </div>


    <div class="register-block">
        <h2>Your Information</h2>
        <form action="">
            <label style="padding-bottom:5px;" for="Name">Name</label>
            <div class="row-block">

                <div class="input-block">

                    <input type="text">
                    <label class="under-name" for="First">First</label>
                </div>


                <div class="input-block">
                    <input type="text">
                    <label class="under-name" for="Last">Last</label>
                </div>

            </div>


            <div class="row-block">
                <div class="input-block">
                    <label style="padding-bottom:5px;" for="Date">Date</label>
                    <input type="date">
                </div>


                <div class="input-block">
                    <label style="padding-bottom:10px;" for="Gender">Gender</label>
                    <div class="row-block">

                        <input value="Men" type="radio"><label class="label-radio" for="">Men</label>

                        <input value="Women" type="radio"><label class="label-radio" for="">Women</label>
                        <input value="Other" type="radio"><label class="label-radio" for="">Other</label>
                    </div>

                </div>
            </div>

            <div class="row-block">


                <div class="input-block">
                    <label style="padding-bottom:5px;" for="Email">Email</label>
                    <input type="text">

                </div>


                <div class="input-block">
                    <label style="padding-bottom:5px;" for="Password">Password</label>
                    <input type="text">

                </div>



            </div>



            <label style="padding-bottom:5px;" for="Email">Phone</label>


            <input type="text">


            <input value="Submit" type="submit">


        </form>




    </div>

</div>
