@{
    ViewData["Title"] = "Home Page";
}
 

<div class="wrapper">

  
    <div class="poster-block">
        <div class="middle-block">
            <div class="text-container">
                <p class="wel-text">WELCOME TO IRONWORKS GUM</p>
                <h1>LET’S START NEW GAME</h1>
                <p class="bottom-text">
                    Lörem ipsum des valing de krod laguv,
                    Misogyn nede. Bevav prektigt rede, polig tåplaktigt.Sasahånar sen för att antegon tede.
                </p>
            </div>
         
        </div>



    </div>



</div>
