@{
    ViewData["Title"] = "Home Page";
}

<div class="wrapper">

  
    <div class="poster-block">
        <div class="middle-block">
            <div class="text-container">
                <p class="wel-text">WELCOME TO IRONWORKS GUM</p>
                <h1>LET’S START NEW GAME</h1>
                <p class="bottom-text">
                    Lörem ipsum des valing de krod laguv,
                    Misogyn nede. Bevav prektigt rede, polig tåplaktigt.Sasahånar sen för att antegon tede.
                </p>
            </div>
            <div class="buttons-block">
                <div style="margin:100px 0;" class="member-button">
                    <p for="">BECOME A MEMBER</p>
                </div>
                <div style="margin:100px 0;" class="member-button">
                    <p for="">BECOME A MEMBER</p>
                </div>
            </div>
        </div>



    </div>



</div>
