@model GymClient.Models.Schedule;
@using System.Globalization
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    DateTime oneDay = new DateTime();


    bool SameDay(DateTime date){
        Console.WriteLine(oneDay.Date);
        Console.WriteLine(date.Date);
        if(oneDay.Date != date.Date){
            oneDay = date;          
            return false;
        }
        return true;

    }



}


<div class="poster-block3">

    <div class="text-container2">
        <h1 style="font-weight:700;font-size:50px;">Class Schedule</h1>
    </div>


</div>

<div class="classes-block">

    <h1>Classes</h1>

    @foreach(Schedule day in ViewBag.Schedule){


        

        <div class="combo-box">


    
            @if (SameDay(day.DateOfTrain) == false)
            {

                <div class="combo-header">
                    <div class="header-container">
                
                    <h2>@day.DateOfTrain.ToString("ddd d MMM",CultureInfo.CreateSpecificCulture("en-US"))</h2>
                    <img src="/images/up.png" alt="">
                </div>

            </div>

            }

            <div class="combo-item">

                <h3 >@day.Name</h3>
                <p>@day.DateOfTrain.ToString("hh:mm tt",CultureInfo.CreateSpecificCulture("en-US")) /@day.TimeOfTrain min</p>
                <p>@day.personal.Name</p>

               
                    <a class="go-button" href="">Go</a>
               

            </div>

       

        </div>





    }

@*    <div class="combo-box">
        <div class="combo-header">
            <div class="header-container">
                <h2>Tuesday Jan 17</h2>
                <img src="/images/up.png" alt="">
            </div>

        </div>
        <div class="combo-item">

            <h3>BOX</h3>
            <p>06.00 am/60 min</p>
            <p>Rick J</p>

            <div class="go-button">
                <a href="">Go</a>
            </div>

        </div>

        <div class="combo-item">

            <h3>BOX</h3>
            <p>06.00 am/60 min</p>
            <p>Rick J</p>
            <div class="go-button">
                <a href="">Go</a>
            </div>

        </div>

        <div class="combo-item">

            <h3>BOX</h3>
            <p>06.00 am/60 min</p>
            <p>Rick J</p>

            <div class="go-button">
                <a href="">Go</a>
            </div>
        </div>


    </div>
*@


</div>
