@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="poster-block3">

    <div class="text-container2">
        <h1 style="font-weight:700;font-size:50px;">Class Schedule</h1>
    </div>


</div>

<div class="classes-block">

    <h1>Classes</h1>

    <div class="combo-box">
        <div class="combo-header">
            <div class="header-container">
                <h2>Tuesday Jan 17</h2>
                <img src="/images/up.png" alt="">
            </div>

        </div>
        <div class="combo-item">

            <h3>BOX</h3>
            <p>06.00 am/60 min</p>
            <p>Rick J</p>

            <div class="go-button">
                <a href="">Go</a>
            </div>

        </div>

        <div class="combo-item">

            <h3>BOX</h3>
            <p>06.00 am/60 min</p>
            <p>Rick J</p>
            <div class="go-button">
                <a href="">Go</a>
            </div>

        </div>

        <div class="combo-item">

            <h3>BOX</h3>
            <p>06.00 am/60 min</p>
            <p>Rick J</p>

            <div class="go-button">
                <a href="">Go</a>
            </div>
        </div>


    </div>



</div>
