<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GymClient</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home-page.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/couhes_style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/classes_styel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/register_style.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
    <header>
        <div class="logo-container">
            <h2>IronWorks Gym</h2>
        </div>

        <div class="links-container">
            <ul>
                <li><a asp-action="Index" asp-controller="Coach" >OUR TRAINERS</a></li>
                    <li><a asp-action="Index" asp-controller="Classes">CLASSES</a></li>

                <li>INFO</li>
                <li>
                        <a asp-action="Index" asp-controller="Register">
                    <div class="member-button">
                        <p for="">BECOME A MEMBER</p>
                    </div>
                        </a>
                </li>
                    <li><a asp-action="Index" asp-controller="User">Login</a></li>

            </ul>
        </div>


    </header>

        <main role="main" >
            @RenderBody()
        </main>


    <footer>
        <div class="footer-container">
            <div class="footer-logo-container">
                <h1>IronWorks Gym</h1>
                <p>11600 Los Alamitos Blvd</p>
            </div>
            <div class="icons-container">
                <a href="#">
                    <img src="/images/youtube.png" alt=""><a>
                        <a href="#">
                            <img src="/images/youtube.png" alt=""><a>
                                <a href="#"> <img src="/images/youtube.png" alt=""><a>
            </div>

        </div>
    </footer>

    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
