<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GymClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/header.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home-page.css" asp-append-version="true" />
@*    <link rel="stylesheet" href="~/GymClient.styles.css" asp-append-version="true" />*@
</head>
<body>
    <header>
        <div class="logo-container">
            <h1>IronWorks Gym</h1>
        </div>

        <div class="links-container">
            <ul>
                <li><a href="/html/couhes.html">OUR TRAINERS</a></li>
                <li>CLASSES</li>
                <li>INFO</li>
                <li>
                    <div class="member-button">
                        <p for="">BECOME A MEMBER</p>
                    </div>

                </li>
            </ul>
        </div>


    </header>

        <main role="main" >
            @RenderBody()
        </main>


    <footer>
        <div class="footer-container">
            <div class="footer-logo-container">
                <h1>IronWorks Gym</h1>
                <p>11600 Los Alamitos Blvd</p>
            </div>
            <div class="icons-container">
                <a href="#">
                    <img src="/images/youtube.png" alt=""><a>
                        <a href="#">
                            <img src="/images/youtube.png" alt=""><a>
                                <a href="#"> <img src="/images/youtube.png" alt=""><a>
            </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
